<ion-view view-title="Inloggen">
  <ion-content class="padding">
    <img src="img/logo.png" class="img-center">
    <div class="list login-form">
      <form role="form" name="loginForm" ng-submit="login(loginForm)" novalidate>
        <label class="item item-input" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
          <span class="input-label">Email</span>
          <input name="email" type="email" ng-model="loginData.email" required autofocus />
        </label>
        <label class="item item-input" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
          <span class="input-label">Wachtwoord</span>
          <input name="password" type="password" ng-model="loginData.password" required />
        </label>

        <button type="submit" class="button button-positive login-button button-full" ng-disabled="loginForm.$invalid">Inloggen</button>
      </form>
      <a ui-sref="signup" class="text-center">Registreren?</a>
    </div>
  </ion-content>
</ion-view>
