<ion-view view-title="Boodschappenlijsten">
  <ion-content>
    <ion-refresher on-refresh="getItems()">

    </ion-refresher>

    <ion-list>

      <ion-item show-delete="true" ng-repeat="item in lists | orderBy: 'createdAt'"
                item="item"
                href="#/shoppinglist/{{item.id}}" class="item-remove-animate">
        {{ item.title }} - <span class="text-muted">{{item.createdAt | date}}</span>
        <ion-option-button class="button-assertive"
                           ng-click="onItemDelete(item)">
          &nbsp;&nbsp;<i class="ion-trash-a"></i>
        </ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <button class="button button-positive button-small" ng-click="createList()"><i class="ion-plus"></i> Nieuwe lijst</button>
  &nbsp;&nbsp;&nbsp;
  <button class="button button-positive button-small" ui-sref="check"><i class="ion-refresh"></i> Controleren</button>


</ion-tabs>
