<ion-view view-title="{{list.title || 'Boodschappenlijst'}}">
  <ion-content>
    <ul class="list">
      <li ng-repeat="line in list.lines" class="item item-button-right">
        {{line.product.title}} <span class="text-muted">{{line.product.price * line.amount | currency: '€ '}}</span>

        <div class="button button-positive" ng-click="changeAmount(line, $id, true)">
          <i class="icon ion-plus"></i>
        </div>
        <div class="button button-positive" ng-click="changeAmount(line, $id, false)" style="margin-right: 45px;">
          <i ng-if="line.amount > 1" class="icon ion-minus"></i>
          <i ng-if="line.amount <= 1" class="icon ion-trash-a"></i>
        </div>
        <span class="item-note">
          {{line.amount}}x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </li>
    </ul>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-icon-top tabs-color-active-positive bigger-tabs">
  <p class="total-price">Totaal: {{list.totalPrice | currency: '€ '}}</p>
  &nbsp;&nbsp;&nbsp;
  <button class="button button-positive button-small">Nieuw product</button>
  &nbsp;&nbsp;&nbsp;
  <button class="button button-positive button-small">Winkelen</button>
</ion-tabs>
