<ion-view view-title="Winkelwagen">
  <ion-content>
    <ul class="list">
      <li ng-repeat="line in cart.lines" class="item item-button-right">
        {{line.product.title}} <span class="text-muted">{{line.product.price * line.amount | currency: '€ '}}</span>

        <div ng-show="line.scanned" class="button button-positive" ng-click="changeAmount(line, $id, true)">
          <i class="icon ion-plus"></i>
        </div>
        <div ng-show="line.scanned" class="button button-positive" ng-click="changeAmount(line, $id, false)"
             style="margin-right: 45px;">
          <i ng-if="line.amount > 1" class="icon ion-minus"></i>
          <i ng-if="line.amount <= 1" class="icon ion-trash-a"></i>
        </div>
        <div ng-show="!line.scanned" class="button button-positive button-small text-muted">Nog niet gescant</div>
        <span class="item-note">
          {{line.amount}}x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </li>
    </ul>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <p class="total-price">Totaal: {{cart.totalPrice | currency: '€ '}}</p>
  &nbsp;&nbsp;&nbsp;
  <button class="button button-positive button-small" ng-click="scanProduct()">Scan</button>
  &nbsp;&nbsp;&nbsp;
  <button class="button button-positive button-small" ng-click="goToInvoice()">Afrekenen</button>
</ion-tabs>
